
body {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../../../public/imgs/background.jpg") fixed;
  background-size: cover;
}

.shop {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding: 50px 0;
}

.shop-card {
  border: 1px solid #bd398f;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.shop-card-content {
  font-family: "Roboto Thin", sans-serif;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  background: rgba(255, 255, 255, 0.5);
}

.shop-card-favorite {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: rgba(255, 255, 255, 0.5);
}

.shop-card-name {
  font-size: 28px;
}

.shop-card-name-active {
  color: #bd398f;
}

.shop-card-color {
  font-size: 20px;
  color: #3C4242;
}

.shop-card-article {
  width: fit-content;
  font-size: 24px;
  border: 1px solid #3C4242;
  padding: 5px;
}

.shop-card-buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shop-card-price {
  font-size: 58px;
  line-height: 20px;
  color: #bd398f;
  margin-right: 15px;
}

.buy-btn,
.buy-btn-active {
  font-size: 20px;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid red;
  border-radius: 5px;
  box-shadow: plum 2px 2px 5px;

  &:hover {
    box-shadow: plum 4px 4px 5px;
    cursor: pointer;
  }

  &:active {
    background: plum;
  }
}

.buy-btn {
  background: pink;
}

.buy-btn-active {
  background: plum;
}

.favheart {
  fill: pink;
}

