.btn-container {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 50px;
}

.btn {
  width: 300px;
  height: fit-content;
  font-size: 28px;
  padding: 20px;
  border: 1px solid #bd398f;
  border-radius: 5px;
  box-shadow: #bd398f 2px 2px 5px;

  &:hover {
    cursor: pointer;
  }
}

.cart {
  margin-bottom: -5px;
  margin-left: 30px;
}
