.header-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*position: fixed;
  top: 0;
  left: 0;*/
}

.logo img {
  width: 200px;
}

.header-top-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-right: 50px;
  list-style: none;
  max-width: fit-content;
  justify-content: center;
}

.header-top-item {
  font-family: "Malgun Gothic", sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-decoration: none;
  color: #3C4242;

  &:hover {
    color: #bd398f;
    cursor: pointer;
  }
}
.header-top-action{
  display: flex;
}

.header-hero {
  background: url("../../../public/imgs/Flower Macro.jpg");
  background-size: cover;
  padding: 3px 20px 50px;
  color: white;
  text-align: center;
}

.header-title {
  font-size: 50px;
  text-transform: uppercase;
}

.header-name {
  font-size: 200px;
  line-height: 150px;
  font-family: 'Lilita One', sans-serif;
  font-weight: 200;
}

.hero-btn {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  padding: 15px;
  margin-top: 40px;
  border: 3px solid white;
  border-radius: 5px;
  background: transparent;
  box-shadow: white 2px 2px 5px;

  &:hover {
    cursor: pointer;
    box-shadow: white 4px 4px 5px;
  }

  &:active {
    background: pink;
  }
}